* {
    margin: 0;
    padding: 0;
}

.text_size {
    font-size: 18px;
}

.login {
    background: red;
    color: #fff;
    text-align: center;
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-radius: 55%;
    border: 1px solid white;
    position: absolute;
    left: 1450px;
    top: 6px;
    cursor: pointer;
}

.login:hover {
    color: #000;
    background: #fcfcfc;
}

.header {
    width: 100%;
    height: 70px;
    text-align: center;
    border-bottom: 3px solid silver;
    background: #333;
    color: #fff;
    line-height: 70px;
    margin-bottom: 25px;
    float: left;
}

.navigation {
    list-style: none;
    display: block;
    float: left;
    width: 25%;
    margin-right: 30%;
    text-align: center;
    margin-bottom: 50px;
    position: absolute;
    top: 25px;
}

.navigation li, .support li {
    display: inline;
    background: #fafafa;
    border: 1px solid silver;
    padding: 0 20px;
    cursor: pointer;
}

.navigation li:hover, .support li:hover {
    color: #fff;
    background: #ff0000;
    border-radius: 5px;
}

.navigation li:not(:last-of-type), .support li:not(:last-of-type) {
    margin-right: 20px;
}

.aside {
    color: #fff;
    font-size: 25px;
    text-align: center;
    width: 15%;
    height: 600px;
    padding: 15px;
    margin-right: .5%;
    background: #333;
    border: 1px solid silver;
    float: left;
    margin-left: .5%;
}

.footer {
    width: 100%;
    height: 50px;
    text-align: center;
    border-bottom: 3px solid silver;
    background: #333;
    color: #ff0000;
    line-height: 70px;
    margin-top: 70px;
    border-bottom: 0;
    border-top: 3px solid silver;
    float: left;
}

.support li {
    line-height: 20px;
    position: absolute;
    top: 818px;
}

